@page "/{Id:int}"
@inject AoService aoService
@using BlazorApp.Components.Model
@using BlazorApp.Components.Service

<h3 class="text-xl font-bold mb-4">Appel Offre Detail</h3>


@if (ao != null)
{
  <div class="max-w-md mx-auto bg-white shadow-md rounded px-4 py-6">
    <p class="text-gray-800"><strong>Titre:</strong> @ao.Titre</p>
    <p class="text-gray-800"><strong>EmailA:</strong> @ao.EmailA</p>
    <p class="text-gray-800"><strong>Description:</strong> @ao.Description</p>
    <p class="text-gray-800"><strong>Type:</strong> @ao.Type</p>
    <p class="text-gray-800"><strong>Date de Demande:</strong> @ao.DateDemande.ToString("yyyy-MM-dd")</p>
    <p class="text-gray-800"><strong>Délais de Réalisation:</strong> @ao.DelaisR.ToString("yyyy-MM-dd")</p>
    <p class="text-gray-800"><strong>Adresse:</strong> @ao.Adress</p>
  </div>
}
@code {
  [Parameter]
  public int Id { get; set; }
  public AO ao;

  protected override async Task OnInitializedAsync()
  {
    // Load data asynchronously
    ao = await aoService.GetaoffreById(Id);
  }

}